<section id="page-content" class="bg-grey">
	<div class="content-wrap">
		<article class="container">
      <!-- formspree contact form -->
      <div class="form-grid">
        <div class="form-content">
          <header id="post-header">
						<h1>Contact me</h1>
					</header>
          <hr>
					<p>
						I'm always excited to work with new people, ask me anything about creating a new project,
						redesigning something that exists, or even for consultation.
						<br>
					</p>
        </div>
        <form method="POST" action="https://formspree.io/ullauridavid@gmail.com">
          <label for="name">Name:</label>
          <input type="text" name="name">
          <label for="name">E-mail:</label>
          <input type="email" name="email">
          <label for="name">Message:</label>
          <textarea name="message"></textarea>
          <button type="submit">
            <p>Send</p>
          </button>
        </form>
      </div>
		</article>
	</div>
</section>
